html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#top-bar {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: space-between;
	top: -70px;
	width: 100%;
	height: 70px;
	background-color: black;
	opacity: 0.5;
	transition: top 0.3s;
	-moz-transition: top 0.3s;
	-webkit-transition: top 0.3s;
}

#top-bar span {
	color: white;
	font-size: 40px;
	line-height: 70px;
	margin-left: 20px;	
}

.top-bar-hover {
	top: 0 !important;
	z-index: 10;
}

#top-bar-btns {
	padding: 0 10px 0 10px;
}

.background {
	width: 100%;
	display: block;
}

#youtube {
	width: 100%;
	display: block;
	z-index: -1;
}

.side-bar {
	position: absolute;
	right: 0;
	height: 100%;
	width: 200px;
	background-color: black;
}

